.DS_Store
Day*.playground/playground.xcworkspace/
Day*.playground/xcuserdata/
Project*/*.xcodeproj/*
!Project*/*.xcodeproj/project.pbxproj
!Project*/*.xcodeproj/*.xcworkspace/xcshareddata/
!Project*/*.xcodeproj/*.xcworkspace/contents.xcworkspacedata
MilestoneProjects*/*.xcodeproj/*
!MilestoneProjects*/*.xcodeproj/project.pbxproj
!MilestoneProjects*/*.xcodeproj/*.xcworkspace/xcshareddata/
!MilestoneProjects*/*.xcodeproj/*.xcworkspace/contents.xcworkspacedata

RiverRaid*/*.xcodeproj/*
!RiverRaid*/*.xcodeproj/project.pbxproj
!RiverRaid*/*.xcodeproj/*.xcworkspace/xcshareddata/
!RiverRaid*/*.xcodeproj/*.xcworkspace/contents.xcworkspacedata
